* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: white;
    height: 75px;
}
.titolo {
    line-height: 75px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 45px;
}
.corpo {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 40px;
}
.sopra {
    margin-top: 40px;
    padding: 20px 80px;
}
.sotto {
    padding-bottom: 40px;
    margin-top: 3px;
    margin-bottom: 20px;
}
.nav {
    border-radius: 5px;
    padding: 3px 7px;
}
.blu {
    color: white;
    background-color: blue;
    border: 2px solid blue;
}
.bianco {
    color: lightgray;
    border: 2px solid lightgray;
}
.capo-lista {
    font-weight: bold;
    font-size: 20px;
}
.lista {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    line-height: 2;
    font-size: 15px;
    font-weight: bold;
}
.verde {
    color: rgb(96, 209, 96);
    border: 2px solid rgb(96, 209, 96);
    font-weight: bold;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px 5px;
}

.rosso {
    color: rgb(251, 69, 69);
    border: 2px solid rgb(251, 69, 69);
    font-weight: bold;
    border-radius: 50%;
    margin-right: 10px;
    padding: 2px 5px;
}

.back {
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    font-weight: normal;
}

.violet {
    background-color: rgb(150, 71, 179);
}
.lightblue {
    background-color: rgb(14, 125, 237);
}
.lightgreen {
    background-color: rgb(70, 190, 142);
}
.orange {
    background-color: rgb(255, 145, 0);
}
.pink {
    background-color: rgb(217, 89, 132);
}
.green {
    background-color: rgb(200, 225, 70);
}